- name: Pull Portainer image
  community.docker.docker_image:
    name: portainer/portainer-ce
    tag: latest
    source: pull

- name: Create Portainer data volume
  community.docker.docker_volume:
    name: portainer_data

- name: Run Portainer container
  community.docker.docker_container:
    name: portainer
    image: portainer/portainer-ce:latest
    state: started
    restart_policy: always
    published_ports:
      - "8000:8000"
      - "9443:9443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data

- name: Install portainerctl helper
  copy:
    src: portainerctl
    dest: /usr/local/bin/portainerctl
    mode: "0755"
